
.Button {
    text-align: center;
    padding: 11px 14px;
    border-radius: 5px;
    border: 0px none;
    background: #3cc56e;
    color: white;
    cursor: pointer;
    transition: transform 0.2s linear;
    box-shadow: 0px 1px 4px rgba(150, 150, 150, 0.05);
    position: relative;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 1em;
}

.Button.disabled:hover {
    transform: none;
}
.Button.disabled {
    cursor: default;
}

.Button:hover {
    transform: scale(1.03);
}

.Button.rounded {
    border-radius: 50px;
    padding: 15px;
}

.Button.orange {
    background: rgba(204,90,46,1);
    color: 'white';
}

.Button.orange:hover {
    background: #E67448 !important;
}

.Button.grey {
    background: #eee;
    color: black;
}

.Button:focus {
    outline:none;
    box-shadow: 0px 2px 6px rgba(150, 150, 150, 0.2);
}

.Button h3 {
    margin: 5px;
}

.Button .thinking>span {
    position: absolute;
    left: calc(50% - 0.55em);
    top: calc(50% - 0.55em);
}

.Button .thinking {
    content: '';
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    background: inherit;
    border-radius: 5px;
}

.Button.btn-red {
    background-color: red;
}
  
.Button.btn-red:hover {
    background-color: red;
}
