.Footer {
    background: #f7f7f7;
    margin-top: 50px;
    color: #777777;
    border-top: 1px solid #CCCCCC;
    padding-top: 10px;
}

.Footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 90%;
    padding: 0px;
    text-align: left;
}

.Footer ul lh {
    text-align: left;
    margin: 10px 0px;
}

.Footer ul li {
    display: flex;
    margin: 5px 0px;
}

.Footer ul li .address {
    text-align: left;
    margin: 5px 0px;
}

.Footer ul li .contact-us {
    text-align: left;
}

.Footer li {
    font-weight: 300;
}

.Footer .social-icons {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

.Footer .social-icons li {
    margin: 0px 15px;
}

.Footer a {
    color: #777777;
}

.Footer a:hover {
    text-decoration: underline !important;
}

.Footer .copyright {
    font-size: small;
    font-weight: 300;
}
