
.input-styled,
input[type='number'],
input[type='text'],
input[type='email'],
textarea,
select {
    color: #333;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    max-width: 100%;
    height: auto;
    transition: border 0.2s linear;
    background: #fff;
    border: 1px solid #e0e0e0;
    vertical-align: middle;
}

.input-styled:focus,
input[type='number']:focus,
input[type='text']:focus,
input[type='email']:focus,
textarea:focus,
select:focus {
    outline: none;
    border-bottom: 1px solid #3cc56e;
}

.input-styled.invalid,
input[type='number'].invalid,
input[type='text'].invalid,
input[type='email'].invalid,
textarea.invalid,
select.invalid {
    border-bottom: 1px solid #ff0000;
    background: #fff5f5;
}


/* input[type='checkbox'] {
    appearance: none;
    background-color: #fff;
	border: 1px solid #e0e0e0;
	padding: 0px;
	border-radius: 14px;
	display: inline-block;
	position: relative;
    width: 40px;
    height: 25px;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
} */

/* input[type='checkbox']:after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background: #e0e0e0;
    transition: all 0.2s linear;
}

input[type='checkbox']:hover:after {
    opacity: 1;
    background: #d0d0d0;
}


input[type='checkbox']:checked:after {
	left: calc(100% - 22px);
    background: #3cc56e;
} */

.input-styled.bordered,
input.bordered,
select.bordered {
    background: #fff;
    border: 1px solid #e0e0e0;
}

select[disabled],
input[disabled] {
    opacity: 0.7
}

input::placeholder {
    color: #888;
}

.hs-select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) 50%;
    background-size: auto 12px;
    padding-right: 48px;
}

select::-ms-expand {
    display: none
}

textarea {
    display: block;
    width: 100%;
}

/* removed b/c it conflicts with tailwind - use pre-tw-label class
label {
    font-size: 11px;
    margin: 3px 0;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
}
*/

label+input,
label+select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}

/* input[type="checkbox"] + label {
    margin-left: 12px;
} */


.segmented-input {
    display: flex;
    flex-shrink: 0;
    white-space: nowrap;
	border: 1px solid #3cc56e;
    border-radius: 5px;
    color: #3cc56e;
    overflow: hidden;
}

.segmented-input input[type='radio'] {
    display: none;
}

.segmented-input input[type='radio']:checked + label {
    background: #3cc56e;
    color: white;
}

.segmented-input input[type='radio']:not(:last-of-type) + label {
    border-right: 1px solid #3cc56e;
}

.segmented-input label {
    padding: 9px 13px;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
    background: white;
}
