.nav-dropdown .dropdown-item-text {
    color: grey;
}

.MarketingNavigation {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.MarketingNavigation .nav-btn {
    padding: 9px 0px;
    margin: 0px 9px;
}

.MarketingNavigation .nav-link.active {
    border-bottom: 3px solid #0ea5e9;
}

@media (min-width: 62em) {
    .MarketingNavigation.light .nav-link,
    .MarketingNavigation.light {
        color: white !important;
    }

    .MarketingNavigation.light .nav-button .Button {
        background: #ffffff;
        color: #3cc56e;
    }
}

.MarketingNavigation .nav-button {
    color: white;
    display: inline-block;
    padding: 13px 0px 13px 3px;
    border-radius: 5px;
    transition: transform 0.1s linear;
}

.MarketingNavigation .nav-button:hover {
    transform: scale(1.03);
}

.MarketingNavigation .logo {
    display: flex;
    align-items: center;
    color: #278fcc;

}

.MarketingNavigation .logo img {
    height: 40px;
    width: auto;
    margin: 0px 10px;
}

.MarketingNavigation .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.MarketingNavigation .nav-link {
    font-size: 15px;
    color: rgb(108, 117, 125) !important;
    padding: 9px 0px;
    margin: 0px 9px;
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
    display: inline-block;
}

.MarketingNavigation .nav-link:hover {
    opacity: 0.75;
}

.MarketingNavigation .docs-dropdown {
    display: inline-block;
}

.MarketingNavigation .docs-dropdown .btn-primary {
    color: rgb(108, 117, 125);
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
    padding: 9px 0px;
    margin: 0px 9px;
}

.MarketingNavigation .docs-dropdown .btn-primary:hover {
    opacity: 0.75;
}

.MarketingNavigation .docs-dropdown .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: rgb(108, 117, 125);
    background-color: transparent;
    border-color: transparent;
}

.MarketingNavigation .nav-dropdown {
    display: inline-block;
    margin: 0px 9px;
}

.MarketingNavigation .nav-dropdown .btn-primary {
    color: #4D3E3F;
    background-color: transparent;
    border-color: transparent;
    font-size: 1.2em;
    padding: 0px;
}

.MarketingNavigation .nav-dropdown .btn-primary:hover {
    opacity: .75;
}

.MarketingNavigation .nav-dropdown .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #4D3E3F;
    background-color: transparent;
    border-color: transparent;
}

.MarketingNavigation .create-account-btn {
    font-size: 15px;
}

@media (max-width: 48em) {
    .MarketingNavigation {
        position: sticky;
        top: 0px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
        background: #fafafa;
        z-index: 1000;
        padding-top: 0px;
    }

    .MarketingNavigation .logo {
        padding: 10px 0;
    }

    .MarketingNavigation .nav-button {
        padding: 3px;
    }

    .MarketingNavigation .nav-button .Button {
        padding: 7px;
        font-size: 12px;
    }

    .MarketingNavigation .logo img {
        height: 20px;
        width: auto;
    }

    .MarketingNavigation .link-container {
        flex-shrink: 0;
        text-align: center;
        width: 100%;
        order: 3;
    }
}
