.TrialForm fieldset {
  font-size: 1em;
  border-radius: 1em;
}

.TrialForm input {
  margin-right: 15px;
  vertical-align: middle;
  width: 300px;
  padding-top: 1.1em;
  padding-bottom: 1.1em;
}

.TrialForm input, .TrialForm button {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 16px;
}

.TrialForm .trial-container {
  display: flex;
  flex-wrap: wrap;
}

.TrialForm .trial-field {
  margin-top: 10px;
}

.TrialForm p {
  color: white;
}