.HomeScreen {
    text-align: left;
}

.HomeScreen .explainer {
    background: #eee;
    width: 100%;
    margin: 0px auto 0px auto;
    z-index: 1;
    border-radius: 5px;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    box-shadow: 0px 0px 50px #333;
}

.HomeScreen .youtube-container {
    height: 100%;
}

.HomeScreen .play { 
    background: #282828;
    border-radius: 50% / 10%;
    color: #FFFFFF;
    font-size: 1em;
    height: 3em;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    text-indent: 0.1em;
    transition: all 150ms ease-out;
    width: 4em;
}

.HomeScreen .play:hover {
    background: #ff0000;
}

.HomeScreen .play::before { 
    background: inherit;
    border-radius: 5% / 50%;
    bottom: 9%;
    content: "";
    left: -5%;
    position: absolute;
    right: -5%;
    top: 9%;
}

.HomeScreen .play::after {
    border-style: solid;
    border-width: 1em 0 1em 1.732em;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
    content: ' ';
    font-size: 0.75em;
    height: 0;
    margin: -1em 0 0 -0.75em;
    top: 50%;
    position: absolute;
    width: 0;
}
